body
{
    text-align : center;
    background : url("https://i.pinimg.com/originals/89/a8/25/89a8252ada1f999bf609a481753f4e75.jpg");
}



.img
{
    height : 500px;
    width : 500px;
}

#map iframe
{
    width: 50%;
    /* float:left; */
    padding-top: 5px;
}

.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow:5px;
}


input
{
    background:rgb(0, 0, 0);
}

.rolling_text
{
background-color:rgb(0, 0, 0);
width: 100%;
height: 30px;
}

#marqueeStyle
{
  width:100%;
  direction:right;
  height: 40px;
  background-color:rgb(26, 245, 7);
  color : rgb(243, 101, 224);
  font-size:100%;
}

h1
{
    color : rgb(6, 203, 238);
}